package ${packageName}.service;

import ${packageName}.feign.bo.${ClassName}DTO;
import ${packageName}.feign.common.PageResult;
import ${packageName}.feign.dto.Query${ClassName}DTO;
import ${packageName}.entity.${ClassName};
import com.baomidou.mybatisplus.extension.service.IService;

/**
 * ${functionName} 服务类
 *
 * @author ${author}
 * @gen ${date}
 */
public interface I${ClassName}Service extends IService<${ClassName}> {

    /**
     * 查询列表
     */
    PageResult<${ClassName}DTO> queryList(Query${ClassName}DTO param);
}