<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coy.gupaoedu.study.mybatis.dao.BlogMapper">

    <sql id="Base_Column_List">
        id,
        blog_title,
        blog_content,
        blog_author,
        state,
        createTime
    </sql>


    <select id="selectBlog" resultType="com.coy.gupaoedu.study.mybatis.model.Blog">
        select * from blog where id = #{id}
    </select>

</mapper>